*{
    border: 0;
    padding: 15; 
    border-radius: 3px;

}

body {
background-color: #DBF9FC;
}


.button{
    border-radius: 100;
    border: none;
}

#button1{
    margin-bottom: 5px;
    font-size: 1em;
    color: white;
    text-align: center;
}

#logo{
    scale: 120%;
    margin-top: 18px;
}

#text1{
    margin-bottom: 30px;
}
